.navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
  height: 70px;
}
.nav_logo_wrapper{
  
  transform: translateX(-50px);
  height: 100%;
  display: flex;
  align-items: center;
}
.nav_logo_wrapper > img {
  object-fit: cover;
  width: 200px;
}
.navbar-brand {
font-size: 1.5rem;
font-weight: bold;
color: white;
text-decoration: none;
}

.navbar-links {
display: flex;
}

.navbar-link {
              color: white;
margin-left: 20px;
text-decoration: none;
}

/* Media Queries */
@media (max-width: 600px) {
.navbar-links {
              display: none;
}
}

